.recetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #fffbeb;
}

.receta {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.receta__imagen {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.receta__contenido {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.receta__titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.receta__descripcion {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;
}

.receta__boton {
  background-color: #F16821;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.receta__boton:hover {
  background-color: #d95614;
}

@media screen and (max-width: 992px) {
  .recetas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .recetas {
    grid-template-columns: 1fr;
  }
}

