.logo-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	/* equivalente a space-x-2 */
}

.logo-text {
	font-size: 1.5rem;
	/* text-2xl */
	font-weight: bold;
	/* font-bold */
	background: linear-gradient(to right, #16a34a, #f97316);
	/* from-green-600 to-orange-500 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}


@media screen and (min-width: 0) {
	.logo {
		display: none;

	}
}

@media screen and (min-width: 768px) {
	.logo {
		display: block;

	}
}